In [1]:
!pip install --quiet climetlab

# ECMWF Observation bespoke format (ODB)

In [2]:
import climetlab as cml

In [3]:
source = cml.load_source("mars", 
                         type="ofb",
                         obsgroup="conv",
                         time="12",
                         format="odb",
                         reportype=16001,
                         date="2020-05-18")

2020-08-04 10:58:41 ECMWF API python library 1.5.4
2020-08-04 10:58:41 ECMWF API at https://api.ecmwf.int/v1
2020-08-04 10:58:41 Welcome Baudouin Raoult
2020-08-04 10:58:42 In case of problems, please check https://confluence.ecmwf.int/display/WEBAPI/Web+API+FAQ or contact servicedesk@ecmwf.int
2020-08-04 10:58:42 Request submitted
2020-08-04 10:58:42 Request id: 5f293152bd6942f2b5522693
2020-08-04 10:58:42 Request is submitted
2020-08-04 10:58:43 Request is active
Calling 'nice mars /tmp/20200804-0950/85/tmp-_mars11xOmO.req'
mars - WARN -
mars - WARN - From 29 January 2019 10AM (UTC) MARS uses the interpolation
mars - WARN - provided by the MIR library. For more details, see
mars - WARN - https://confluence.ecmwf.int/display/UDOC/MARS+interpolation+with+MIR
mars - WARN -
MIR environment variables:
MIR_CACHE_PATH=/data/ec_coeff
mars - INFO   - 20200804.095842 - Welcome to MARS
mars - INFO   - 20200804.095842 - MARS Client bundle version: 6.28.6.1
mars - INFO   - 20200804.095842 - MARS Client package version: 6.28.6
mars - INFO   - 20200804.095842 - MARS Client build stamp: 20200717102127
mars - INFO   - 20200804.095842 - MIR version: 1.4.7
mars - INFO   - 20200804.095842 - Using ecCodes version 2.18.0
mars - INFO   - 20200804.095842 - Using odb_api version: 0.15.11 (file format version: 0.5)
mars - INFO   - 20200804.095842 - Using FDB5 version: 5.6.1
mars - INFO   - 20200804.095842 - Maximum retrieval size is 50.00 G
retrieve,obsgroup=conv,reportype=16001,padding=0,time=12,date=2020-05-18,type=ofbmars - INFO   - 20200804.095843 - Automatic split by date is on

mars - INFO   - 20200804.095843 - Processing request 1

RETRIEVE,
    CLASS      = OD,
    TYPE       = OFB,
    STREAM     = OPER,
    EXPVER     = 0001,
    REPRES     = BU,
    OBSGROUP   = CONV,
    REPORTYPE  = 16001,
    OBSTYPE    = 1,
    TIME       = 1200,
    DOMAIN     = G,
    PADDING    = 0,
    DUPLICATES = KEEP,
    DATE       = 20200518

mars - INFO   - 20200804.095843 - Web API request id: 5f293152bd6942f2b5522693
mars - INFO   - 20200804.095843 - Calling mars on 'marsod', local port is 50561
mars - INFO   - 20200804.095843 - Server task is 826 [marsod]
mars - INFO   - 20200804.095843 - Request cost: 1 field, 25.5883 Mbytes online, nodes: mvr11 [marsod]
mars - INFO   - 20200804.095843 - Transfering 26831236 bytes
mars - INFO   - 20200804.095843 - odb_filter: sql = 'NULL', total_to_read = 26831236
mars - INFO   - 20200804.095843 - Read  rate: 156.541 Mbytes per second
mars - INFO   - 20200804.095843 - Write rate: 1.3864 Gbytes per second
mars - INFO   - 20200804.095843 - Save into: 0.181769 second elapsed, 0.09 second cpu
mars - INFO   - 20200804.095843 -  => odb_filter
mars - INFO   - 20200804.095843 - Memory used: 46.99 Mbyte(s)
mars - INFO   - 20200804.095843 - No errors reported
Process '['nice', 'mars', '/tmp/20200804-0950/85/tmp-_mars11xOmO.req']' finished
2020-08-04 10:58:48 Request is complete
2020-08-04 10:58:48 Transfering 25.5883 Mbytes into /var/tmp/climetlab-13a15c2ee12d404e69a4c0fe7cb399fb43c81d26da08c0e44b5e0a5d8cf82277.cache.tmp
2020-08-04 10:58:48 From https://stream.ecmwf.int/data/webmars-private-svc-green-006/data/scratch/20200804-0950/c5/_mars-webmars-private-svc-green-006-6fe5cac1a363ec1525f54343b6cc9fd8-7xL2N7.odb
2020-08-04 10:58:52 Transfer rate 7.38922 Mbytes/s
2020-08-04 10:58:52 Done.

In [4]:
pd = source.to_pandas()

Using pure Python odc decoder.

In [5]:
pd

,type,expver,class,stream,andate,antime,reportype,numtsl@desc,timeslot@timeslot_index,seqno@hdr,...,datum_rdbflag@body,biascorr@body,biascorr_fg@body,qc_pge@body,an_depar@body,fg_depar@body,obs_error@errstat,final_obs_error@errstat,fg_error@errstat,eda_spread@errstat
0,263,0001,1,1025,20200518,120000,16001,17,15,4443,...,0,NaN,NaN,NaN,-10.560810,-14.283884,41.155659,41.155659,25.144444,13.044278
1,263,0001,1,1025,20200518,120000,16001,17,15,4443,...,0,NaN,NaN,NaN,36.250599,34.712360,41.155659,41.155659,25.144444,13.044278
2,263,0001,1,1025,20200518,120000,16001,17,15,4443,...,0,0.0,0.0,NaN,-9.160848,-12.384340,33.596455,33.596455,0.260278,0.011694
3,263,0001,1,1025,20200518,120000,16001,17,15,4443,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,263,0001,1,1025,20200518,120000,16001,17,15,4443,...,0,0.0,0.0,NaN,2.482570,2.683633,1.408449,1.408449,0.502528,0.395115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
410015,263,0001,1,1025,20200518,120000,16001,17,15,9133718,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
410016,263,0001,1,1025,20200518,120000,16001,17,15,9133718,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
410017,263,0001,1,1025,20200518,120000,16001,17,15,9133718,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
410018,263,0001,1,1025,20200518,120000,16001,17,15,9133718,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
410019,263,0001,1,1025,20200518,120000,16001,17,15,9133718,...,0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN